<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collegiate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoTitle">

        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.college.selection.CollegeSelectionActivity" />

        <activity android:name=".ui.college.detail.CollegeDetailActivity" />

        <activity android:name=".ui.college.home.CollegeHomeActivity" />

        <activity android:name=".ui.course.detail.CourseDetailActivity" />

        <activity
            android:name=".ui.lecture.LectureDetailActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ui.course.selected.SubscribedCoursesActivity" />

        <activity android:name=".ui.license.LicenseListActivity" />

        <activity android:name=".ui.license.detail.LicenseDetailActivity" />

        <service
            android:name=".notification.NotificationSchedulerService"
            android:enabled="true" />

        <receiver
            android:name=".notification.NotificationAlarmReceiver"
            android:enabled="true" />

        <receiver
            android:name=".notification.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2e387b61b6eb9e6393669b437c18dc6a7f6813e2" />
    </application>

</manifest>
